<h1>Issues</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Issue</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% if (viewData?.length > 0) { %>
      <% viewData.forEach(issue => { %>
        <tr>
          <td class="issue-author-table">
            <%= issue.title %><br>
            <%= issue.description %><br>
            <%= issue.state %><br>
            <%= issue.author %><br>
            #<%= issue.id %>
          </td>
          <td class="issue-action-table">
            <a href="./issues/<%= issue.id %>/update">Update</a>
          </td>
        </tr>
      <% }) %>
    <% } else { %>
      <tr>
        <td class="text-center text-danger">
          There are no issues to display
        </td>
      </tr>
    <% } %>
  </tbody>
</table>