<h1>Issues</h1>
<% if (viewData?.length > 0) { %>
  <% viewData.forEach(issue => { %>
  <form class="issues-form" name="<%= issue.id %>" method="post" action="./issues/<%= issue?.id %>/update">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="issue-title">#<%= issue.id %>. <%= issue.title %></th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="issue-author-table">
            <img class="img-avatar" src="<%= issue.avatar %>" alt="avatar">
            <p class="issue-description"><%= issue.description %></p><br>
            <p class="small" id="issue-author">Author: <%= issue.author %>, State: <%= issue.state %></p>
          </td>
          <td class="issue-action-table">
            <input type="hidden" id="issueStatus" name="issueStatus" value="<%= issue.state %>">
            <% if (issue.state === 'opened') { %>
              <button type="submit" class="button-close" id="issueSubmit" name="issueId" value="<%= issue?.id %>">Close</button>
            <% } else { %>
              <button type="submit" class="button-open" id="issueSubmit" name="issueId" value="<%= issue?.id %>">Open</button>
            <% } %>
          </td>
        </tr>
      </tbody>
    </table>
  </form><br>
      <% }) %>
    <% } else { %>
<table class="table table-striped">
  <tbody>
      <tr>
        <td class="text-center text-danger">
          There are no issues to display
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<%# Socket.IO: Template for the client. The same as above, sort of. %>
<template id="issue-template">
  <form class="issues-form" name="" method="post" action="">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="issue-title"></th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="issue-author-table">
            <img class="img-avatar" src="" alt="avatar">
            <p class="issue-description"></p><br>
            <p class="small"></p>
          </td>
          <td class="issue-action-table">
            <input type="hidden" id="issueStatus" name="issueStatus" value="">
              <button type="submit" class="button-open" id="issueSubmit" name="issueId" value="">Open</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</template>
